node_modules

# Files created by bot
audit.log
cytubebot.db
info.log
monitor_error.log
error.log
persistent.json
times_restarted.txt

# Real config file, so it's not accidentally committed
config.json

# Legacy files created by previous versions of the bot
err.log
cytubelog.log
sys.log
times

# Random garbage
.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vs
