html
  head
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    link(href='/css/emotes.css', rel='stylesheet')
    link(type='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.css')
    script(type='text/javascript', src="/js/bootstrap.js")
    script(type='text/javascript', src='/sioconfig')
    script(src=serverIO)
    script(type='text/javascript', src='/js/emotes.js')
  body
    h1 {{room}} Emotes
    #emotediv
        table.table
