html
  head
    link(href='/css/emotes.css', rel='stylesheet')
    script(type='text/javascript', src='/sioconfig')
    script(src=serverIO)
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='/js/emotes.js')
  body
    h1 {{room}} Emotes
    #emotediv
