html
  head
    script(src=serverIO)
    script(type='text/javascript', src='/sioconfig')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript', src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/internals.css", rel="stylesheet")
    title Internals
  body
    #infodiv
      #statusdiv
        span#statusspan
      #botinfodiv
        span#botinfospan
      #userlistdiv
        span#userlistspan
        button#userlistdetailsbutton.btn.btn-default Details
        br
        span#userlistdetail
      #playlistdiv
        span#playlistspan
        button#playlistdetailsbutton.btn.btn-default Details
        br
        span#playlistdetail
  script(type='text/javascript', src='/js/internals.js')
